In [1]:
import os
import sys
mod_path = os.path.abspath(os.path.join('..'))
if mod_path not in sys.path:
    sys.path.append(mod_path)

In [17]:
import pickle
from pathlib import Path
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from pprint import pprint as pp
import pandas as pd

In [4]:
from tools.feature_format import featureFormat, targetFeatureSplit
from final_project.tester import dump_classifier_and_data

In [5]:
pwd_ = %pwd
pwd_ = Path(pwd_)
pwd_.joinpath('tools/feature_format.py')

WindowsPath('E:/Users/Trenton J. McKinney/PycharmProjects/ud120-projects/tools/feature_format.py')

# Task 1: Select Features
#### features_list is a list of strings, each of which is a feature name.
#### The first feature must be "poi".

In [6]:
financial_features = ['salary', 'deferral_payments', 'total_payments', 'loan_advances', 'bonus', 'restricted_stock_deferred',
                      'deferred_income', 'total_stock_value', 'expenses', 'exercised_stock_options', 'other',
                      'long_term_incentive', 'restricted_stock', 'director_fees']

email_features = ['to_messages', 'email_address', 'from_poi_to_this_person', 'from_messages', 'from_this_person_to_poi', 'shared_receipt_with_poi']

poi_label = ['poi']

In [12]:
feature_list = []
feature_list.extend(poi_label)
feature_list.extend(financial_features)
feature_list.extend(email_features)
feature_list

['poi',
 'salary',
 'deferral_payments',
 'total_payments',
 'loan_advances',
 'bonus',
 'restricted_stock_deferred',
 'deferred_income',
 'total_stock_value',
 'expenses',
 'exercised_stock_options',
 'other',
 'long_term_incentive',
 'restricted_stock',
 'director_fees',
 'to_messages',
 'email_address',
 'from_poi_to_this_person',
 'from_messages',
 'from_this_person_to_poi',
 'shared_receipt_with_poi']

## Load Dataset

In [59]:
# Load the dictionary containing the dataset
with open('final_project/final_project_dataset_unix.pkl', 'rb') as data_file:
    data_dict = pickle.load(data_file)

## Explore Dataset

In [60]:
df = pd.DataFrame.from_dict(data_dict, orient='index')
pd.set_option('max_rows', 150)
pd.set_option('max_columns', 21)
df

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,expenses,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
ALLEN PHILLIP K,201955,2902,2869717,4484442,NaN,4175000,phillip.allen@enron.com,-126027,-3081055,1729541,13868,47,1729541,2195,152,65,False,304805,1407,126027,NaN
BADUM JAMES P,NaN,NaN,178980,182466,NaN,NaN,NaN,NaN,NaN,257817,3486,NaN,257817,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
BANNANTINE JAMES M,477,566,NaN,916197,NaN,NaN,james.bannantine@enron.com,-560222,-5104,5243487,56301,39,4046157,29,864523,0,False,NaN,465,1757552,NaN
BAXTER JOHN C,267102,NaN,1295738,5634343,NaN,1200000,NaN,NaN,-1386055,10623258,11200,NaN,6680544,NaN,2660303,NaN,False,1586055,NaN,3942714,NaN
BAY FRANKLIN R,239671,NaN,260455,827696,NaN,400000,frank.bay@enron.com,-82782,-201641,63014,129142,NaN,NaN,NaN,69,NaN,False,NaN,NaN,145796,NaN
BAZELIDES PHILIP J,80818,NaN,684694,860136,NaN,NaN,NaN,NaN,NaN,1599641,NaN,NaN,1599641,NaN,874,NaN,False,93750,NaN,NaN,NaN
BECK SALLY W,231330,7315,NaN,969068,NaN,700000,sally.beck@enron.com,NaN,NaN,126027,37172,144,NaN,4343,566,386,False,NaN,2639,126027,NaN
BELDEN TIMOTHY N,213999,7991,2144013,5501630,NaN,5249999,tim.belden@enron.com,NaN,-2334434,1110705,17355,228,953136,484,210698,108,True,NaN,5521,157569,NaN
BELFER ROBERT,NaN,NaN,-102500,102500,NaN,NaN,NaN,44093,NaN,-44093,NaN,NaN,3285,NaN,NaN,NaN,False,NaN,NaN,NaN,3285
BERBERIAN DAVID,216582,NaN,NaN,228474,NaN,NaN,david.berberian@enron.com,NaN,NaN,2493616,11892,NaN,1624396,NaN,NaN,NaN,False,NaN,NaN,869220,NaN
BERGSIEKER RICHARD P,187922,383,NaN,618850,NaN,250000,rick.bergsieker@enron.com,NaN,-485813,659249,59175,4,NaN,59,427316,0,False,180250,233,659249,NaN
BHATNAGAR SANJAY,NaN,523,NaN,15456290,NaN,NaN,sanjay.bhatnagar@enron.com,15456290,NaN,NaN,NaN,0,2604490,29,137864,1,False,NaN,463,-2604490,137864
BIBI PHILIPPE A,213625,1607,NaN,2047593,NaN,1000000,philippe.bibi@enron.com,NaN,NaN,1843816,38559,23,1465734,40,425688,8,False,369721,1336,378082,NaN
BLACHMAN JEREMY M,248546,2475,NaN,2014835,NaN,850000,jeremy.blachman@enron.com,NaN,NaN,954354,84208,25,765313,14,272,2,False,831809,2326,189041,NaN
BLAKE JR. NORMAN P,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,-113784,NaN,1279,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,113784
BOWEN JR RAYMOND M,278601,1858,NaN,2669589,NaN,1350000,raymond.bowen@enron.com,NaN,-833,252055,65907,140,NaN,27,1621,15,True,974293,1593,252055,NaN
BROWN MICHAEL,NaN,1486,NaN,49288,NaN,NaN,michael.brown@enron.com,NaN,NaN,NaN,49288,13,NaN,41,NaN,1,False,NaN,761,NaN,NaN
BUCHANAN HAROLD G,248017,1088,NaN,1054637,NaN,500000,john.buchanan@enron.com,NaN,NaN,1014505,600,0,825464,125,1215,0,False,304805,23,189041,NaN
BUTTS ROBERT H,261516,NaN,NaN,1271582,NaN,750000,bob.butts@enron.com,NaN,-75000,417619,9410,NaN,NaN,NaN,150656,NaN,False,175000,NaN,417619,NaN
BUY RICHARD B,330546,3523,649584,2355702,NaN,900000,rick.buy@enron.com,NaN,-694862,3444470,NaN,156,2542813,1053,400572,71,False,769862,2333,901657,NaN
CALGER CHRISTOPHER F,240189,2598,NaN,1639297,NaN,1250000,christopher.calger@enron.com,NaN,-262500,126027,35818,199,NaN,144,486,25,True,375304,2188,126027,NaN
CARTER REBECCA C,261809,312,NaN,477557,NaN,300000,rebecca.carter@enron.com,-307301,-159792,NaN,NaN,29,NaN,15,540,7,False,75000,196,307301,NaN
CAUSEY RICHARD A,415189,1892,NaN,1868758,NaN,1000000,richard.causey@enron.com,NaN,-235000,2502063,30674,58,NaN,49,307895,12,True,350000,1585,2502063,NaN
CHAN RONNIE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-32460,-98784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,32460,98784
CHRISTODOULOU DIOMEDES,NaN,NaN,NaN,NaN,NaN,NaN,diomedes.christodoulou@enron.com,NaN,NaN,6077885,NaN,NaN,5127155,NaN,NaN,NaN,False,NaN,NaN,950730,NaN
CLINE KENNETH W,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-472568,NaN,189518,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,662086,NaN
COLWELL WESLEY,288542,1758,27610,1490344,NaN,1200000,wes.colwell@enron.com,NaN,-144062,698242,16514,240,NaN,40,101740,11,True,NaN,1132,698242,NaN
CORDES WILLIAM R,NaN,764,NaN,NaN,NaN,NaN,bill.cordes@enron.com,NaN,NaN,1038185,NaN,10,651850,12,NaN,0,False,NaN,58,386335,NaN
COX DAVID,314288,102,NaN,1101393,NaN,800000,chip.cox@enron.com,NaN,-41250,495633,27861,0,117551,33,494,4,False,NaN,71,378082,NaN
CUMBERLAND MICHAEL S,184899,NaN,NaN,807956,NaN,325000,NaN,NaN,NaN,207940,22344,NaN,NaN,NaN,713,NaN,False,275000,NaN,207940,NaN
DEFFNER JOSEPH M,206121,714,NaN,1208649,NaN,600000,joseph.deffner@enron.com,NaN,NaN,159211,41626,115,17378,74,25553,4,False,335349,552,141833,NaN
DELAINEY DAVID W,365163,3093,NaN,4747979,NaN,3000000,david.delainey@enron.com,NaN,NaN,3614261,86174,66,2291113,3069,1661,609,True,1294981,2097,1323148,NaN
DERRICK JR. JAMES V,492375,2181,NaN,550981,NaN,800000,james.derrick@enron.com,-1787380,-1284000,8831913,51124,64,8831913,909,7482,20,False,484000,1401,1787380,NaN
DETMERING TIMOTHY J,210500,NaN,875307,1204583,NaN,425000,timothy.detmering@enron.com,-315068,-775241,2027865,52255,NaN,2027865,NaN,1105,NaN,False,415657,NaN,315068,NaN
DIETRICH JANET R,250100,2572,NaN,1410464,NaN,600000,janet.dietrich@enron.com,NaN,NaN,1865087,3475,305,1550019,63,473,14,False,556416,1902,315068,NaN
DIMICHELE RICHARD G,262788,NaN,NaN,2368151,NaN,1000000,richard.dimichele@enron.com,NaN,NaN,8317782,35812,NaN,8191755,NaN,374689,NaN,False,694862,NaN,126027,NaN
DODSON KEITH,221003,176,NaN,319941,NaN,70000,keith.dodson@enron.com,NaN,NaN,NaN,28164,10,NaN,14,774,3,False,NaN,114,NaN,NaN
DONAHUE JR JEFFREY M,278601,865,NaN,875760,NaN,800000,jeff.donahue@enron.com,NaN,-300000,1080988,96268,188,765920,22,891,11,False,NaN,772,315068,NaN
DUNCAN JOHN H,NaN,NaN,NaN,77492,NaN,NaN,NaN,NaN,-25000,371750,NaN,NaN,371750,NaN,NaN,NaN,False,NaN,NaN,NaN,102492
DURAN WILLIAM D,210692,904,NaN,2093263,NaN,750000,w.duran@enron.com,NaN,NaN,1640910,25785,106,1451869,12,1568,3,False,1105218,599,189041,NaN
ECHOLS JOHN B,182245,NaN,NaN,2692324,NaN,200000,john.echols@enron.com,NaN,NaN,1008941,21530,NaN,601438,NaN,53775,NaN,False,2234774,NaN,407503,NaN
ELLIOTT STEVEN,170941,NaN,NaN,211725,NaN,350000,steven.elliott@enron.com,NaN,-400729,6678735,78552,NaN,4890344,NaN,12961,NaN,False,NaN,NaN,1788391,NaN
FALLON JAMES B,304588,1755,NaN,3676340,NaN,2500000,jim.fallon@enron.com,NaN,NaN,2332399,95924,42,940257,75,401481,37,False,374347,1604,1392142,NaN
FASTOW ANDREW S,440698,NaN,NaN,2424083,NaN,1300000,andrew.fastow@enron.com,NaN,-1386055,1794412,55921,NaN,NaN,NaN,277464,NaN,True,1736055,NaN,1794412,NaN
FITZGERALD JAY L,199157,936,NaN,1414857,NaN,350000,jay.fitzgerald@enron.com,NaN,NaN,1621236,23870,1,664461,16,285414,8,False,556416,723,956775,NaN
FOWLER PEGGY,NaN,517,NaN,NaN,NaN,NaN,kulvinder.fowler@enron.com,NaN,NaN,1884748,NaN,0,1324578,36,NaN,0,False,NaN,10,560170,NaN
FOY JOE,NaN,57,181755,181755,NaN,NaN,tracy.foy@enron.com,NaN,NaN,343434,NaN,0,343434,13,NaN,0,False,NaN,2,NaN,NaN
FREVERT MARK A,1060932,3275,6426990,17252530,2000000,2000000,mark.frevert@enron.com,NaN,-3367011,14622185,86987,242,10433518,21,7427621,6,False,1617011,2979,4188667,NaN
FUGH JOHN L,NaN,NaN,50591,50591,NaN,NaN,NaN,NaN,NaN,176378,NaN,NaN,176378,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
GAHN ROBERT S,192008,NaN,73122,900585,NaN,509870,NaN,NaN,-1042,318607,50080,NaN,83237,NaN,76547,NaN,False,NaN,NaN,235370,NaN
GARLAND C KEVIN,231946,209,NaN,1566469,NaN,850000,kevin.garland@enron.com,NaN,NaN,896153,48405,10,636246,44,60814,27,False,375304,178,259907,NaN
GATHMANN WILLIAM D,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-72419,NaN,1945360,NaN,NaN,1753766,NaN,NaN,NaN,False,NaN,NaN,264013,NaN
GIBBS DANA R,NaN,169,504610,966522,NaN,NaN,dana.gibbs@enron.com,NaN,NaN,2218275,NaN,0,2218275,12,NaN,0,False,461912,23,NaN,NaN
GILLIS JOHN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,85641,NaN,NaN,9803,NaN,NaN,NaN,False,NaN,NaN,75838,NaN
GLISAN JR BEN F,274975,873,NaN,1272284,NaN,600000,ben.glisan@enron.com,NaN,NaN,778546,125978,52,384728,16,200308,6,True,71023,874,393818,NaN
GOLD JOSEPH,272880,NaN,NaN,2146973,NaN,750000,joe.gold@enron.com,NaN,NaN,877611,NaN,NaN,436515,NaN,819288,NaN,False,304805,NaN,441096,NaN
GRAMM WENDY L,NaN,NaN,NaN,119292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,119292
GRAY RODNEY,6615,NaN,93585,1146658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,680833,NaN,False,365625,NaN,NaN,NaN
HAEDICKE MARK E,374125,4009,2157527,3859065,NaN,1150000,mark.haedicke@enron.com,-329825,-934484,803094,76169,180,608750,1941,52382,61,False,983346,1847,524169,NaN
HANNON KEVIN P,243293,1045,NaN,288682,NaN,1500000,kevin.hannon@enron.com,NaN,-3117011,6391065,34039,32,5538001,32,11350,21,True,1617011,1035,853064,NaN
HAUG DAVID L,NaN,573,NaN,475,NaN,NaN,david.haug@enron.com,NaN,NaN,2217299,475,4,NaN,19,NaN,7,False,NaN,471,2217299,NaN
HAYES ROBERT E,NaN,504,7961,7961,NaN,NaN,robert.hayes@enron.com,NaN,NaN,151418,NaN,16,NaN,12,NaN,0,False,NaN,50,151418,NaN
HAYSLETT RODERICK J,NaN,2649,NaN,NaN,NaN,NaN,rod.hayslett@enron.com,NaN,NaN,346663,NaN,35,NaN,1061,NaN,38,False,NaN,571,346663,NaN
HERMANN ROBERT J,262663,NaN,NaN,1297461,NaN,700000,robert.hermann@enron.com,NaN,-280000,668132,48357,NaN,187500,NaN,416441,NaN,False,150000,NaN,480632,NaN
HICKERSON GARY J,211788,1320,NaN,2081796,NaN,1700000,gary.hickerson@enron.com,NaN,NaN,441096,98849,40,NaN,27,1936,1,False,69223,900,441096,NaN
HIRKO JOSEPH,NaN,NaN,10259,91093,NaN,NaN,joe.hirko@enron.com,NaN,NaN,30766064,77978,NaN,30766064,NaN,2856,NaN,True,NaN,NaN,NaN,NaN
HORTON STANLEY C,NaN,2350,3131860,3131860,NaN,NaN,stanley.horton@enron.com,NaN,NaN,7256648,NaN,44,5210569,1073,NaN,15,False,NaN,1074,2046079,NaN
HUGHES JAMES A,NaN,719,NaN,NaN,NaN,NaN,james.hughes@enron.com,NaN,NaN,1118394,NaN,35,754966,34,NaN,5,False,NaN,589,363428,NaN
HUMPHREY GENE E,130724,128,2964506,3100224,NaN,NaN,gene.humphrey@enron.com,NaN,NaN,2282768,4994,10,2282768,17,NaN,17,False,NaN,119,NaN,NaN
IZZO LAWRENCE L,85274,496,NaN,1979596,NaN,NaN,larry.izzo@enron.com,NaN,NaN,5819980,28093,28,2165172,19,1553729,5,False,312500,437,3654808,NaN
JACKSON CHARLENE R,288558,258,NaN,551174,NaN,250000,charlene.jackson@enron.com,NaN,NaN,725735,10181,25,185063,56,2435,19,False,NaN,117,540672,NaN
JAEDICKE ROBERT,NaN,NaN,NaN,83750,NaN,NaN,NaN,-44093,-25000,431750,NaN,NaN,431750,NaN,NaN,NaN,False,NaN,NaN,44093,108750
KAMINSKI WINCENTY J,275101,4607,NaN,1086821,NaN,400000,vince.kaminski@enron.com,NaN,NaN,976037,83585,41,850010,14368,4669,171,False,323466,583,126027,NaN
KEAN STEVEN J,404338,12754,NaN,1747522,NaN,1000000,steven.kean@enron.com,NaN,NaN,6153642,41953,140,2022048,6759,1231,387,False,300000,3639,4131594,NaN
KISHKILL JOSEPH G,174246,NaN,NaN,704896,NaN,NaN,joe.kishkill@enron.com,NaN,-51042,1034346,116335,NaN,NaN,NaN,465357,NaN,False,NaN,NaN,1034346,NaN
KITCHEN LOUISE,271442,8305,NaN,3471141,NaN,3100000,louise.kitchen@enron.com,NaN,NaN,547143,5774,251,81042,1728,93925,194,False,NaN,3669,466101,NaN
KOENIG MARK E,309946,2374,NaN,1587421,NaN,700000,mark.koenig@enron.com,NaN,NaN,1920055,127017,53,671737,61,150458,15,True,300000,2271,1248318,NaN
KOPPER MICHAEL J,224305,NaN,NaN,2652612,NaN,800000,michael.kopper@enron.com,NaN,NaN,985032,118134,NaN,NaN,NaN,907502,NaN,True,602671,NaN,985032,NaN
LAVORATO JOHN J,339288,7259,NaN,10425757,NaN,8000000,john.lavorato@enron.com,NaN,NaN,5167144,49537,528,4158995,2585,1552,411,False,2035380,3962,1008149,NaN
LAY KENNETH L,1072321,4273,202911,103559793,81525000,7000000,kenneth.lay@enron.com,NaN,-300000,49110078,99832,123,34348384,36,10359729,16,True,3600000,2411,14761694,NaN
LEFF DANIEL P,273746,2822,NaN,2664228,NaN,1000000,dan.leff@enron.com,NaN,NaN,360528,NaN,67,NaN,63,3083,14,False,1387399,2672,360528,NaN
LEMAISTRE CHARLES,NaN,NaN,NaN,87492,NaN,NaN,NaN,NaN,-25000,412878,NaN,NaN,412878,NaN,NaN,NaN,False,NaN,NaN,NaN,112492
LEWIS RICHARD,NaN,952,NaN,NaN,NaN,NaN,richard.lewis@enron.com,NaN,NaN,850477,NaN,10,850477,26,NaN,0,False,NaN,739,NaN,NaN
LINDHOLM TOD A,236457,NaN,204075,875889,NaN,200000,tod.lindholm@enron.com,NaN,NaN,3064208,57727,NaN,2549361,NaN,2630,NaN,False,175000,NaN,514847,NaN
LOCKHART EUGENE E,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
LOWRY CHARLES P,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-153686,NaN,372205,NaN,NaN,372205,NaN,NaN,NaN,False,NaN,NaN,153686,NaN
MARTIN AMANDA K,349487,1522,85430,8407016,NaN,NaN,a..martin@enron.com,NaN,NaN,2070306,8211,8,2070306,230,2818454,0,False,5145434,477,NaN,NaN
MCCARTY DANNY J,NaN,1433,NaN,NaN,NaN,NaN,danny.mccarty@enron.com,NaN,NaN,758931,NaN,25,664375,215,NaN,2,False,NaN,508,94556,NaN
MCCLELLAN GEORGE,263413,1744,NaN,1318763,NaN,900000,george.mcclellan@enron.com,NaN,-125000,947861,228763,52,506765,49,51587,0,False,NaN,1469,441096,NaN
MCCONNELL MICHAEL S,365038,3329,NaN,2101364,NaN,1100000,mike.mcconnell@enron.com,NaN,NaN,3101279,81364,92,1623010,2742,540,194,False,554422,2189,1478269,NaN
MCDONALD REBECCA,NaN,894,NaN,NaN,NaN,NaN,rebecca.mcdonald@enron.com,NaN,NaN,1691366,NaN,54,757301,13,NaN,1,False,NaN,720,934065,NaN
MCMAHON JEFFREY,370448,2355,NaN,4099771,NaN,2600000,jeffrey.mcmahon@enron.com,NaN,NaN,1662855,137108,58,1104054,48,297353,26,False,694862,2228,558801,NaN
MENDELSOHN JOHN,NaN,NaN,NaN,148,NaN,NaN,NaN,NaN,-103750,NaN,148,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,103750
METTS MARK,365788,807,NaN,1061827,NaN,600000,mark.metts@enron.com,NaN,NaN,585062,94299,38,NaN,29,1740,1,False,NaN,702,585062,NaN
MEYER JEROME J,NaN,NaN,NaN,2151,NaN,NaN,NaN,NaN,-38346,NaN,2151,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,38346
MEYER ROCKFORD G,NaN,232,1848227,1848227,NaN,NaN,rockford.meyer@enron.com,NaN,NaN,955873,NaN,0,493489,28,NaN,0,False,NaN,22,462384,NaN
MORAN MICHAEL P,NaN,672,NaN,NaN,NaN,NaN,michael.moran@enron.com,NaN,NaN,221141,NaN,0,59539,19,NaN,0,False,NaN,127,161602,NaN
MORDAUNT KRISTINA M,267093,NaN,NaN,628522,NaN,325000,kristina.mordaunt@enron.com,NaN,NaN,208510,35018,NaN,NaN,NaN,1411,NaN,False,NaN,NaN,208510,NaN
MULLER MARK S,251654,136,842924,3202070,NaN,1100000,s..muller@enron.com,NaN,-719000,1416848,NaN,12,1056320,16,947,0,False,1725545,114,360528,NaN
MURRAY JULIA H,229284,2192,NaN,812194,NaN,400000,julia.murray@enron.com,NaN,NaN,597461,57580,11,400478,45,330,2,False,125000,395,196983,NaN
NOLES JAMES L,NaN,NaN,774401,774401,NaN,NaN,NaN,-94556,NaN,368705,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,463261,NaN
OLSON CINDY K,329078,1184,77716,1321557,NaN,750000,cindy.olson@enron.com,NaN,NaN,2606763,63791,20,1637034,52,972,15,False,100000,856,969729,NaN
OVERDYKE JR JERE C,94941,NaN,NaN,249787,NaN,NaN,jere.overdyke@enron.com,NaN,NaN,7307594,18834,NaN,5266578,NaN,176,NaN,False,135836,NaN,2041016,NaN
PAI LOU L,261879,NaN,NaN,3123383,NaN,1000000,lou.pai@enron.com,NaN,NaN,23817930,32047,NaN,15364167,NaN,1829457,NaN,False,NaN,NaN,8453763,NaN
PEREIRA PAULO V. FERRAZ,NaN,NaN,NaN,27942,NaN,NaN,NaN,NaN,-101250,NaN,27942,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,101250
PICKERING MARK R,655037,898,NaN,1386690,400000,300000,mark.pickering@enron.com,NaN,NaN,28798,31653,7,28798,67,NaN,0,False,NaN,728,NaN,NaN
PIPER GREGORY F,197091,1238,1130036,1737629,NaN,400000,greg.piper@enron.com,-409554,-33333,880290,43057,61,880290,222,778,48,False,NaN,742,409554,NaN
PIRO JIM,NaN,58,NaN,NaN,NaN,NaN,jim.piro@enron.com,NaN,NaN,47304,NaN,0,NaN,16,NaN,1,False,NaN,3,47304,NaN
POWERS WILLIAM,NaN,653,NaN,NaN,NaN,NaN,ken.powers@enron.com,NaN,-17500,NaN,NaN,0,NaN,26,NaN,0,False,NaN,12,NaN,17500
PRENTICE JAMES,NaN,NaN,564348,564348,NaN,NaN,james.prentice@enron.com,NaN,NaN,1095040,NaN,NaN,886231,NaN,NaN,NaN,False,NaN,NaN,208809,NaN
REDMOND BRIAN L,96840,1671,NaN,111529,NaN,NaN,brian.redmond@enron.com,NaN,NaN,7890324,14689,204,7509039,221,NaN,49,False,NaN,1063,381285,NaN
REYNOLDS LAWRENCE,76399,NaN,51365,394475,NaN,100000,NaN,-140264,-200000,4221891,8409,NaN,4160672,NaN,202052,NaN,False,156250,NaN,201483,NaN
RICE KENNETH D,420636,905,NaN,505050,NaN,1750000,ken.rice@enron.com,NaN,-3504386,22542539,46950,42,19794175,18,174839,4,True,1617011,864,2748364,NaN
RIEKER PAULA H,249201,1328,214678,1099100,NaN,700000,paula.rieker@enron.com,NaN,-100000,1918887,33271,35,1635238,82,1950,48,True,NaN,1258,283649,NaN
SAVAGE FRANK,NaN,NaN,NaN,3750,NaN,NaN,NaN,NaN,-121284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,125034
SCRIMSHAW MATTHEW,NaN,NaN,NaN,NaN,NaN,NaN,matthew.scrimshaw@enron.com,NaN,NaN,759557,NaN,NaN,759557,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
SHANKMAN JEFFREY A,304110,3221,NaN,3038702,NaN,2000000,jeffrey.shankman@enron.com,NaN,NaN,2072035,178979,94,1441898,2681,1191,83,False,554422,1730,630137,NaN
SHAPIRO RICHARD S,269076,15149,NaN,1057548,NaN,650000,richard.shapiro@enron.com,NaN,NaN,987001,137767,74,607837,1215,705,65,False,NaN,4527,379164,NaN
SHARP VICTORIA T,248146,3136,187469,1576511,NaN,600000,vicki.sharp@enron.com,NaN,NaN,494136,116337,24,281073,136,2401,6,False,422158,2477,213063,NaN
SHELBY REX,211844,225,NaN,2003885,NaN,200000,rex.shelby@enron.com,NaN,-4167,2493616,22884,13,1624396,39,1573324,14,True,NaN,91,869220,NaN
SHERRICK JEFFREY B,NaN,613,NaN,NaN,NaN,NaN,jeffrey.sherrick@enron.com,NaN,NaN,1832468,NaN,39,1426469,25,NaN,18,False,NaN,583,405999,NaN
SHERRIFF JOHN R,428780,3187,NaN,4335388,NaN,1500000,john.sherriff@enron.com,NaN,NaN,3128982,NaN,28,1835558,92,1852186,23,False,554422,2103,1293424,NaN
SKILLING JEFFREY K,1111258,3627,NaN,8682716,NaN,5600000,jeff.skilling@enron.com,NaN,NaN,26093672,29336,88,19250000,108,22122,30,True,1920000,2042,6843672,NaN
STABLER FRANK,239502,NaN,NaN,1112087,NaN,500000,frank.stabler@enron.com,NaN,NaN,511734,16514,NaN,NaN,NaN,356071,NaN,False,NaN,NaN,511734,NaN
SULLIVAN-SHAKLOVITZ COLLEEN,162779,NaN,181993,999356,NaN,100000,NaN,NaN,NaN,1362375,NaN,NaN,1362375,NaN,162,NaN,False,554422,NaN,NaN,NaN
SUNDE MARTIN,257486,2647,NaN,1545059,NaN,700000,marty.sunde@enron.com,NaN,NaN,698920,NaN,37,NaN,38,111122,13,False,476451,2565,698920,NaN
TAYLOR MITCHELL S,265214,533,227449,1092663,NaN,600000,mitchell.taylor@enron.com,NaN,NaN,3745048,NaN,0,3181250,29,NaN,0,False,NaN,300,563798,NaN
THE TRAVEL AGENCY IN THE PARK,NaN,NaN,NaN,362096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,362096,NaN,False,NaN,NaN,NaN,NaN
THORN TERENCE H,222093,266,16586,911453,NaN,NaN,terence.thorn@enron.com,NaN,NaN,4817796,46145,0,4452476,41,426629,0,False,200000,73,365320,NaN
TILNEY ELIZABETH A,247338,460,NaN,399393,NaN,300000,elizabeth.tilney@enron.com,NaN,-575000,1168042,NaN,10,591250,19,152055,11,False,275000,379,576792,NaN
TOTAL,26704229,NaN,32083396,309886585,83925000,97343619,NaN,-7576788,-27992891,434509511,5235198,NaN,311764000,NaN,42667589,NaN,False,48521928,NaN,130322299,1398517
UMANOFF ADAM S,288589,111,NaN,1130461,NaN,788750,adam.umanoff@enron.com,NaN,NaN,NaN,53122,12,NaN,18,NaN,0,False,NaN,41,NaN,NaN
URQUHART JOHN A,NaN,NaN,NaN,228656,NaN,NaN,NaN,NaN,-36666,NaN,228656,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,36666
WAKEHAM JOHN,NaN,NaN,NaN,213071,NaN,NaN,NaN,NaN,NaN,NaN,103773,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,109298
WALLS JR ROBERT H,357091,671,NaN,1798780,NaN,850000,rob.walls@enron.com,NaN,NaN,5898997,50936,17,4346544,146,2,0,False,540751,215,1552453,NaN
WALTERS GARETH W,NaN,NaN,53625,87410,NaN,NaN,NaN,NaN,NaN,1030329,33785,NaN,1030329,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
WASAFF GEORGE,259996,400,831299,1034395,NaN,325000,george.wasaff@enron.com,NaN,-583325,2056427,NaN,22,1668260,30,1425,7,False,200000,337,388167,NaN
WESTFAHL RICHARD K,63744,NaN,NaN,762135,NaN,NaN,dick.westfahl@enron.com,NaN,-10800,384930,51870,NaN,NaN,NaN,401130,NaN,False,256191,NaN,384930,NaN
WHALEY DAVID A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98718,NaN,NaN,98718,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
WHALLEY LAWRENCE G,510364,6019,NaN,4677574,NaN,3000000,greg.whalley@enron.com,NaN,NaN,6079137,57838,186,3282960,556,301026,24,False,808346,3920,2796177,NaN
WHITE JR THOMAS E,317543,NaN,NaN,1934359,NaN,450000,thomas.white@enron.com,NaN,NaN,15144123,81353,NaN,1297049,NaN,1085463,NaN,False,NaN,NaN,13847074,NaN
WINOKUR JR. HERBERT S,NaN,NaN,NaN,84992,NaN,NaN,NaN,NaN,-25000,NaN,1413,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,108579

In [61]:
df.describe()

,salary,to_messages,deferral_payments,total_payments,loan_advances,bonus,email_address,restricted_stock_deferred,deferred_income,total_stock_value,expenses,from_poi_to_this_person,exercised_stock_options,from_messages,other,from_this_person_to_poi,poi,long_term_incentive,shared_receipt_with_poi,restricted_stock,director_fees
count,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146,146
unique,95,87,40,126,5,42,112,19,45,125,95,58,102,65,93,42,2,53,84,98,18
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,False,NaN,NaN,NaN,NaN
freq,51,60,107,21,142,64,35,128,97,20,51,60,44,60,53,60,128,80,60,36,129

In [62]:
list(df)

['salary',
 'to_messages',
 'deferral_payments',
 'total_payments',
 'loan_advances',
 'bonus',
 'email_address',
 'restricted_stock_deferred',
 'deferred_income',
 'total_stock_value',
 'expenses',
 'from_poi_to_this_person',
 'exercised_stock_options',
 'from_messages',
 'other',
 'from_this_person_to_poi',
 'poi',
 'long_term_incentive',
 'shared_receipt_with_poi',
 'restricted_stock',
 'director_fees']

In [63]:
list(df.index.values)

['ALLEN PHILLIP K',
 'BADUM JAMES P',
 'BANNANTINE JAMES M',
 'BAXTER JOHN C',
 'BAY FRANKLIN R',
 'BAZELIDES PHILIP J',
 'BECK SALLY W',
 'BELDEN TIMOTHY N',
 'BELFER ROBERT',
 'BERBERIAN DAVID',
 'BERGSIEKER RICHARD P',
 'BHATNAGAR SANJAY',
 'BIBI PHILIPPE A',
 'BLACHMAN JEREMY M',
 'BLAKE JR. NORMAN P',
 'BOWEN JR RAYMOND M',
 'BROWN MICHAEL',
 'BUCHANAN HAROLD G',
 'BUTTS ROBERT H',
 'BUY RICHARD B',
 'CALGER CHRISTOPHER F',
 'CARTER REBECCA C',
 'CAUSEY RICHARD A',
 'CHAN RONNIE',
 'CHRISTODOULOU DIOMEDES',
 'CLINE KENNETH W',
 'COLWELL WESLEY',
 'CORDES WILLIAM R',
 'COX DAVID',
 'CUMBERLAND MICHAEL S',
 'DEFFNER JOSEPH M',
 'DELAINEY DAVID W',
 'DERRICK JR. JAMES V',
 'DETMERING TIMOTHY J',
 'DIETRICH JANET R',
 'DIMICHELE RICHARD G',
 'DODSON KEITH',
 'DONAHUE JR JEFFREY M',
 'DUNCAN JOHN H',
 'DURAN WILLIAM D',
 'ECHOLS JOHN B',
 'ELLIOTT STEVEN',
 'FALLON JAMES B',
 'FASTOW ANDREW S',
 'FITZGERALD JAY L',
 'FOWLER PEGGY',
 'FOY JOE',
 'FREVERT MARK A',
 'FUGH JOHN L',
 'GAHN ROBERT S',
 'GARLAND C KEVIN',
 'GATHMANN WILLIAM D',
 'GIBBS DANA R',
 'GILLIS JOHN',
 'GLISAN JR BEN F',
 'GOLD JOSEPH',
 'GRAMM WENDY L',
 'GRAY RODNEY',
 'HAEDICKE MARK E',
 'HANNON KEVIN P',
 'HAUG DAVID L',
 'HAYES ROBERT E',
 'HAYSLETT RODERICK J',
 'HERMANN ROBERT J',
 'HICKERSON GARY J',
 'HIRKO JOSEPH',
 'HORTON STANLEY C',
 'HUGHES JAMES A',
 'HUMPHREY GENE E',
 'IZZO LAWRENCE L',
 'JACKSON CHARLENE R',
 'JAEDICKE ROBERT',
 'KAMINSKI WINCENTY J',
 'KEAN STEVEN J',
 'KISHKILL JOSEPH G',
 'KITCHEN LOUISE',
 'KOENIG MARK E',
 'KOPPER MICHAEL J',
 'LAVORATO JOHN J',
 'LAY KENNETH L',
 'LEFF DANIEL P',
 'LEMAISTRE CHARLES',
 'LEWIS RICHARD',
 'LINDHOLM TOD A',
 'LOCKHART EUGENE E',
 'LOWRY CHARLES P',
 'MARTIN AMANDA K',
 'MCCARTY DANNY J',
 'MCCLELLAN GEORGE',
 'MCCONNELL MICHAEL S',
 'MCDONALD REBECCA',
 'MCMAHON JEFFREY',
 'MENDELSOHN JOHN',
 'METTS MARK',
 'MEYER JEROME J',
 'MEYER ROCKFORD G',
 'MORAN MICHAEL P',
 'MORDAUNT KRISTINA M',
 'MULLER MARK S',
 'MURRAY JULIA H',
 'NOLES JAMES L',
 'OLSON CINDY K',
 'OVERDYKE JR JERE C',
 'PAI LOU L',
 'PEREIRA PAULO V. FERRAZ',
 'PICKERING MARK R',
 'PIPER GREGORY F',
 'PIRO JIM',
 'POWERS WILLIAM',
 'PRENTICE JAMES',
 'REDMOND BRIAN L',
 'REYNOLDS LAWRENCE',
 'RICE KENNETH D',
 'RIEKER PAULA H',
 'SAVAGE FRANK',
 'SCRIMSHAW MATTHEW',
 'SHANKMAN JEFFREY A',
 'SHAPIRO RICHARD S',
 'SHARP VICTORIA T',
 'SHELBY REX',
 'SHERRICK JEFFREY B',
 'SHERRIFF JOHN R',
 'SKILLING JEFFREY K',
 'STABLER FRANK',
 'SULLIVAN-SHAKLOVITZ COLLEEN',
 'SUNDE MARTIN',
 'TAYLOR MITCHELL S',
 'THE TRAVEL AGENCY IN THE PARK',
 'THORN TERENCE H',
 'TILNEY ELIZABETH A',
 'TOTAL',
 'UMANOFF ADAM S',
 'URQUHART JOHN A',
 'WAKEHAM JOHN',
 'WALLS JR ROBERT H',
 'WALTERS GARETH W',
 'WASAFF GEORGE',
 'WESTFAHL RICHARD K',
 'WHALEY DAVID A',
 'WHALLEY LAWRENCE G',
 'WHITE JR THOMAS E',
 'WINOKUR JR. HERBERT S',
 'WODRASKA JOHN',
 'WROBEL BRUCE',
 'YEAGER F SCOTT',
 'YEAP SOON']

In [64]:
df.loc['LOCKHART EUGENE E']

salary                         NaN
to_messages                    NaN
deferral_payments              NaN
total_payments                 NaN
loan_advances                  NaN
bonus                          NaN
email_address                  NaN
restricted_stock_deferred      NaN
deferred_income                NaN
total_stock_value              NaN
expenses                       NaN
from_poi_to_this_person        NaN
exercised_stock_options        NaN
from_messages                  NaN
other                          NaN
from_this_person_to_poi        NaN
poi                          False
long_term_incentive            NaN
shared_receipt_with_poi        NaN
restricted_stock               NaN
director_fees                  NaN
Name: LOCKHART EUGENE E, dtype: object

In [65]:
df.loc['THE TRAVEL AGENCY IN THE PARK']

salary                          NaN
to_messages                     NaN
deferral_payments               NaN
total_payments               362096
loan_advances                   NaN
bonus                           NaN
email_address                   NaN
restricted_stock_deferred       NaN
deferred_income                 NaN
total_stock_value               NaN
expenses                        NaN
from_poi_to_this_person         NaN
exercised_stock_options         NaN
from_messages                   NaN
other                        362096
from_this_person_to_poi         NaN
poi                           False
long_term_incentive             NaN
shared_receipt_with_poi         NaN
restricted_stock                NaN
director_fees                   NaN
Name: THE TRAVEL AGENCY IN THE PARK, dtype: object

In [66]:
df.loc['TOTAL']

salary                        26704229
to_messages                        NaN
deferral_payments             32083396
total_payments               309886585
loan_advances                 83925000
bonus                         97343619
email_address                      NaN
restricted_stock_deferred     -7576788
deferred_income              -27992891
total_stock_value            434509511
expenses                       5235198
from_poi_to_this_person            NaN
exercised_stock_options      311764000
from_messages                      NaN
other                         42667589
from_this_person_to_poi            NaN
poi                              False
long_term_incentive           48521928
shared_receipt_with_poi            NaN
restricted_stock             130322299
director_fees                  1398517
Name: TOTAL, dtype: object

# Task 2: Remove Outliers

In [67]:
outliers = ['THE TRAVEL AGENCY IN THE PARK', 'LOCKHART EUGENE E', 'TOTAL']
for value in outliers:
    del data_dict[value]

In [68]:
len(data_dict)

143